@{
    Layout = "_Layout";
}
@model List<be.Items>
<!-- adplacement--------------------------->
<div class="container-main">
    <div class="d-block">
        <div class="adplacement-container-row">
            <div class="col-12">
                <a href="#" class="adplacement-item mb-4">
                    <div class="adplacement-sponsored_box">
                        <img src="~/theme/images/adplacement/a-8.jpg">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- adplacement--------------------------->
<!-- slidre-product------------------------>
<div class="container-main">
    <div class="d-block">
        <!-- slider-moment------------------------->
        <div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block">
            <div class="slider-widget-products">
                <div class="widget widget-product card">
                    <header class="card-header">
                        <span class="title-one">پیشنهادی های ما</span>
                        <h3 class="card-title"></h3>
                    </header>
                    <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                 style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a asp-action="view" asp-controller="customer" target="_blank" class="d-block hover-img-link">
                                            <img src="~/theme/images/slider-product/Samsung-S10Plus.jpg"
                                                 class="img-fluid" alt="">
                                            <span class="icon-view">
                                                <strong><i class="fa fa-eye"></i></strong>
                                            </span>
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                سامسونگ گلکسی اس 10 پلاس – 128 گیگابایت – دو سیم کارت
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>۱۲,۰۰۰,۰۰۰<span>تومان</span></span></del>
                                            <ins><span>۱۰,۵۰۰,۰۰۰<span>تومان</span></span></ins>
                                        </div>
                                        <div class="actions">
                                            <ul>
                                                <li class="action-item like">
                                                    <button class="btn btn-light add-product-wishes" type="submit">
                                                        <i class="fa fa-heart-o"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item compare">
                                                    <button class="btn btn-light btn-compare" type="submit">
                                                        <i class="fa fa-random"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item add-to-cart">
                                                    <button class="btn btn-light btn-add-to-cart" type="submit">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                @foreach (var i in Model)
                                { 
                                    <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                        <div class="item">
                                            <a asp-action="view" asp-controller="customer" asp-route-id="@i.id" target="_blank" class="d-block hover-img-link">
                                                <img src="~/images/items/@i.img_src"
                                                     class="img-fluid" alt="">
                                                <span class="icon-view">
                                                    <strong><i class="fa fa-eye"></i></strong>
                                                </span>
                                            </a>
                                            <h2 class="post-title">
                                                <a href="#">
                                                    @i.name
                                                </a>
                                            </h2>
                                            <div class="price">
                                                <del><span>۱۲,۰۰۰,۰۰۰<span>تومان</span></span></del>
                                                <ins><span>@i.pris<span> هزار تومان</span></span></ins>
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li class="action-item like">
                                                        <button class="btn btn-light add-product-wishes" type="submit">
                                                            <i class="fa fa-heart-o"></i>
                                                        </button>
                                                    </li>
                                                    <li class="action-item compare">
                                                        <button class="btn btn-light btn-compare" type="submit">
                                                            <i class="fa fa-random"></i>
                                                        </button>
                                                    </li>
                                                    <li class="action-item add-to-cart">
                                                        <button class="btn btn-light btn-add-to-cart" type="submit">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--slider-amazing------------------------->
        <section class="section-slider amazing-section pt-3">
            <div class="container-amazing col-12">
                <div class="col-lg-3 display-md-none pull-right">
                    <div class="amazing-product text-center">
                        <a href="#">
                            <img src="~/theme/images/slider-amazing/shopping-cart.svg" alt="">
                        </a>
                        <h3 class="amazing-heading-title amazing-size-default">محصولات شگفت انگیز</h3>
                        <a href="#" class="view-all-amazing-btn">
                            مشاهده همه
                            <i class="uil uil-angle-left"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 pull-left">
                    <div class="slider-widget-products mb-0">
                        <div class="widget widget-product card">
                            <header class="card-header">
                                <span class="title-one">محصولات شگفت انگیز</span>
                                <h3 class="card-title">مشاهده همه</h3>
                            </header>
                            <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage"
                                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                        <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                            <div class="item">
                                                <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                                   data-target="#exampleModal">
                                                    <img src="~/theme/images/slider-product/Stove-lopez.jpg"
                                                         class="img-fluid" alt="">
                                                    <span class="icon-view">
                                                        <strong><i class="fa fa-eye"></i></strong>
                                                    </span>
                                                </a>
                                                <div class="countdown-timer">
                                                    <div class="countdown h4" data-date-time="10/10/2025 12:00"
                                                         data-labels="{&quot;label-day&quot;: &quot;روز&quot;, &quot;label-hour&quot;: &quot;ساعت&quot;, &quot;label-minute&quot;: &quot;دقیقه&quot;, &quot;label-second&quot;: &quot;ثانیه&quot;}">
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">1765</div>
                                                            <div class="countdown-label">روز</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">16</div>
                                                            <div class="countdown-label">ساعت</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">25</div>
                                                            <div class="countdown-label">دقیقه</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">07</div>
                                                            <div class="countdown-label">ثانیه</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2 class="post-title pt-4">
                                                    <a href="#">
                                                        اجاق گاز طرح فر لوپز مدل 10000S
                                                    </a>
                                                </h2>
                                                <div class="price">
                                                    <del><span>۱۲,۰۰۰,۰۰۰<span>تومان</span></span></del>
                                                    <ins><span>۱۰,۵۰۰,۰۰۰<span>تومان</span></span></ins>
                                                </div>
                                                <div class="actions">
                                                    <ul>
                                                        <li class="action-item like">
                                                            <button class="btn btn-light add-product-wishes" type="submit">
                                                                <i class="fa fa-heart-o"></i>
                                                            </button>
                                                        </li>
                                                        <li class="action-item compare">
                                                            <button class="btn btn-light btn-compare" type="submit">
                                                                <i class="fa fa-random"></i>
                                                            </button>
                                                        </li>
                                                        <li class="action-item add-to-cart">
                                                            <button class="btn btn-light btn-add-to-cart" type="submit">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                            <div class="item">
                                                <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                                   data-target="#exampleModal">
                                                    <img src="~/theme/images/slider-product/SWF-40R.jpg"
                                                         class="img-fluid" alt="">
                                                    <span class="icon-view">
                                                        <strong><i class="fa fa-eye"></i></strong>
                                                    </span>
                                                </a>
                                                <div class="countdown-timer">
                                                    <div class="countdown h4" data-date-time="10/10/2025 12:00"
                                                         data-labels="{&quot;label-day&quot;: &quot;روز&quot;, &quot;label-hour&quot;: &quot;ساعت&quot;, &quot;label-minute&quot;: &quot;دقیقه&quot;, &quot;label-second&quot;: &quot;ثانیه&quot;}">
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">1765</div>
                                                            <div class="countdown-label">روز</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">16</div>
                                                            <div class="countdown-label">ساعت</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">25</div>
                                                            <div class="countdown-label">دقیقه</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">07</div>
                                                            <div class="countdown-label">ثانیه</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2 class="post-title pt-4">
                                                    <a href="#">
                                                        آون توستر سان ورد مدل SWF-40R
                                                    </a>
                                                </h2>
                                                <div class="price">
                                                    <del><span>۳,۲۰۰,۰۰۰<span>تومان</span></span></del>
                                                    <ins><span>۲,۵۰۰,۰۰۰<span>تومان</span></span></ins>
                                                </div>
                                                <div class="actions">
                                                    <ul>
                                                        <li class="action-item like">
                                                            <button class="btn btn-light add-product-wishes" type="submit">
                                                                <i class="fa fa-heart-o"></i>
                                                            </button>
                                                        </li>
                                                        <li class="action-item compare">
                                                            <button class="btn btn-light btn-compare" type="submit">
                                                                <i class="fa fa-random"></i>
                                                            </button>
                                                        </li>
                                                        <li class="action-item add-to-cart">
                                                            <button class="btn btn-light btn-add-to-cart" type="submit">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                            <div class="item">
                                                <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                                   data-target="#exampleModal">
                                                    <img src="~/theme/images/slider-product/ECM2013.jpg"
                                                         class="img-fluid" alt="">
                                                    <span class="icon-view">
                                                        <strong><i class="fa fa-eye"></i></strong>
                                                    </span>
                                                </a>
                                                <div class="countdown-timer">
                                                    <div class="countdown h4" data-date-time="10/10/2025 12:00"
                                                         data-labels="{&quot;label-day&quot;: &quot;روز&quot;, &quot;label-hour&quot;: &quot;ساعت&quot;, &quot;label-minute&quot;: &quot;دقیقه&quot;, &quot;label-second&quot;: &quot;ثانیه&quot;}">
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">1765</div>
                                                            <div class="countdown-label">روز</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">16</div>
                                                            <div class="countdown-label">ساعت</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">25</div>
                                                            <div class="countdown-label">دقیقه</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">07</div>
                                                            <div class="countdown-label">ثانیه</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2 class="post-title pt-4">
                                                    <a href="#">
                                                        اسپرسوساز مباشی مدل ECM2013
                                                    </a>
                                                </h2>
                                                <div class="price">
                                                    <del><span>۳,۵۰۰,۰۰۰<span>تومان</span></span></del>
                                                    <ins><span>۲,۰۰۰,۰۰۰<span>تومان</span></span></ins>
                                                </div>
                                                <div class="actions">
                                                    <ul>
                                                        <li class="action-item like">
                                                            <button class="btn btn-light add-product-wishes" type="submit">
                                                                <i class="fa fa-heart-o"></i>
                                                            </button>
                                                        </li>
                                                        <li class="action-item compare">
                                                            <button class="btn btn-light btn-compare" type="submit">
                                                                <i class="fa fa-random"></i>
                                                            </button>
                                                        </li>
                                                        <li class="action-item add-to-cart">
                                                            <button class="btn btn-light btn-add-to-cart" type="submit">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                            <div class="item">
                                                <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                                   data-target="#exampleModal">
                                                    <img src="~/theme/images/slider-product/DNR 290T-366T.jpg"
                                                         class="img-fluid" alt="">
                                                    <span class="icon-view">
                                                        <strong><i class="fa fa-eye"></i></strong>
                                                    </span>
                                                </a>
                                                <div class="countdown-timer">
                                                    <div class="countdown h4" data-date-time="10/10/2025 12:00"
                                                         data-labels="{&quot;label-day&quot;: &quot;روز&quot;, &quot;label-hour&quot;: &quot;ساعت&quot;, &quot;label-minute&quot;: &quot;دقیقه&quot;, &quot;label-second&quot;: &quot;ثانیه&quot;}">
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">1765</div>
                                                            <div class="countdown-label">روز</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">16</div>
                                                            <div class="countdown-label">ساعت</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">25</div>
                                                            <div class="countdown-label">دقیقه</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">07</div>
                                                            <div class="countdown-label">ثانیه</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2 class="post-title pt-4">
                                                    <a href="#">
                                                        یخچال و فریزر دو قلوی دونار مدل DNR 290T-366T
                                                    </a>
                                                </h2>
                                                <div class="price">
                                                    <del><span>۶,۵۰۰,۰۰۰<span>تومان</span></span></del>
                                                    <ins><span>۴,۲۰۰,۰۰۰<span>تومان</span></span></ins>
                                                </div>
                                                <div class="actions">
                                                    <ul>
                                                        <li class="action-item like">
                                                            <button class="btn btn-light add-product-wishes" type="submit">
                                                                <i class="fa fa-heart-o"></i>
                                                            </button>
                                                        </li>
                                                        <li class="action-item compare">
                                                            <button class="btn btn-light btn-compare" type="submit">
                                                                <i class="fa fa-random"></i>
                                                            </button>
                                                        </li>
                                                        <li class="action-item add-to-cart">
                                                            <button class="btn btn-light btn-add-to-cart" type="submit">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                            <div class="item">
                                                <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                                   data-target="#exampleModal">
                                                    <img src="~/theme/images/slider-product/Avocado.jpg"
                                                         class="img-fluid" alt="">
                                                    <span class="icon-view">
                                                        <strong><i class="fa fa-eye"></i></strong>
                                                    </span>
                                                </a>
                                                <div class="countdown-timer">
                                                    <div class="countdown h4" data-date-time="10/10/2025 12:00"
                                                         data-labels="{&quot;label-day&quot;: &quot;روز&quot;, &quot;label-hour&quot;: &quot;ساعت&quot;, &quot;label-minute&quot;: &quot;دقیقه&quot;, &quot;label-second&quot;: &quot;ثانیه&quot;}">
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">1765</div>
                                                            <div class="countdown-label">روز</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">16</div>
                                                            <div class="countdown-label">ساعت</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">25</div>
                                                            <div class="countdown-label">دقیقه</div>
                                                        </div>
                                                        <div class="countdown-item">
                                                            <div class="countdown-value">07</div>
                                                            <div class="countdown-label">ثانیه</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2 class="post-title pt-4">
                                                    <a href="#">
                                                        آب میوه گیری پارس خزر مدل Avocado
                                                    </a>
                                                </h2>
                                                <div class="price">
                                                    <del><span>۷,۵۰۰,۰۰۰<span>تومان</span></span></del>
                                                    <ins><span>۶,۰۰۰,۰۰۰<span>تومان</span></span></ins>
                                                </div>
                                                <div class="actions">
                                                    <ul>
                                                        <li class="action-item like">
                                                            <button class="btn btn-light add-product-wishes" type="submit">
                                                                <i class="fa fa-heart-o"></i>
                                                            </button>
                                                        </li>
                                                        <li class="action-item compare">
                                                            <button class="btn btn-light btn-compare" type="submit">
                                                                <i class="fa fa-random"></i>
                                                            </button>
                                                        </li>
                                                        <li class="action-item add-to-cart">
                                                            <button class="btn btn-light btn-add-to-cart" type="submit">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--elementor-->
        <div class="elementor">
            <div class="col-12 col-md-6 col-lg-6 col-xl-6 items-1 pr">
                <article class="blog-item">
                    <figure class="figure">
                        <div class="post-thumbnail">
                            <img src="~/theme/images/elementor/Photography-Camera-HD-Wallpaper2.jpg"
                                 alt="camera">
                        </div>

                        <div class="post-title">
                            <a href="#" class="d-block">
                                <h5>خرید دوربین و دوربین مدار بسته</h5>
                            </a>
                            <p>خرید دوربین با ارزان ترین قیمت های بازار و تخفیف ویژه از سایت</p>
                            <button type="button" class="btn btn-light btn-see-all">مشاهده همه</button>
                        </div>
                    </figure>
                </article>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-6 items-1 pr">
                <article class="blog-item">
                    <figure class="figure">
                        <div class="post-thumbnail">
                            <img src="~/theme/images/elementor/samsung-galaxy-tab-s6.jpg" alt="camera">
                        </div>

                        <div class="post-title">
                            <a href="#" class="d-block">
                                <h5>خرید تبلت و انواع گوشی موبایل</h5>
                            </a>
                            <p>خرید تبلت با ارزان ترین قیمت های بازار و تخفیف ویژه از سایت</p>
                            <button type="button" class="btn btn-light btn-see-all">مشاهده همه</button>
                        </div>
                    </figure>
                </article>
            </div>
        </div>
        <!--elementor-->
    </div>
</div>